name: CI and CD
on:
  push:
    branches:
      - main
jobs:
  ci:
    uses: Lucky3028/turn-on-air-conditioner/.github/workflows/ci.yaml@main
  cd:
    name: Deploy to Cloudflare Workers
    runs-on: ubuntu-latest
    timeout-minutes: 5
    needs:
      - ci
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node.js with Volta
        uses: ./.github/actions/setup-node
      - name: Publish
        uses: cloudflare/wrangler-action@2.0.0
        with:
          apiToken: ${{ secrets.CF_TOKEN }}
          command: deploy --env production
          secrets: |
            SWITCHBOT_TOKEN
            SWITCHBOT_CLIENT_SECRET
            SENTRY_CLIENT_ID
            SENTRY_CLIENT_SECRET
        env:
          SWITCHBOT_TOKEN: ${{ secrets.SWITCHBOT_TOKEN }}
          SWITCHBOT_CLIENT_SECRET: ${{ secrets.SWITCHBOT_CLIENT_SECRET }}
          SENTRY_CLIENT_ID: ${{ secrets.SENTRY_CLIENT_ID }}
          SENTRY_CLIENT_SECRET: ${{ secrets.SENTRY_CLIENT_SECRET }}
